doctype html
html
    head
    //- Head
    link(rel="stylesheet" href="dash.css")
    body
        .dash-wrapper
            //- Top Bar Wrapper
            .top-bar-wrapper
                div
                    h3 Code Studio
                div 
                    h6 
                div
                    a New Track
                    a Settings
                    a Account
            //- Side Bar Wrapper
            .side-bar-wrapper
                .box
                    .image
                        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1310546/profile/profile-80.jpg?1513291679" width="100%")
                .box
                    .name
                        p Daniel Osborn
                .box
                    div more stuff 
                        p more
                        p more
            //- Content Wrapper
            .content-wrapper
                .frame
              
                .frame
              
                .frame
              
                .frame
              
                .frame
