doctype html
html
  head
    title Code Studio
    link(rel="stylesheet" href="css/main.style.css")
    each href in styles
      link(rel="stylesheet" href=href)
    each src in scripts
      script(src=src)
  body
    .studio-wrapper
      .bar
      .control-room-wrapper
        .control-room
          .editor#html
          .editor#css
          .editor#js
      .live-room-wrapper
        .live-room
          iframe#liveRoom(src="/preview")
    script(src="/js/studio.js")
    script(src="/js/main.client.js")
