doctype html
html
    include includes/studio-head
    body
      .studio-wrapper
        .bar
          .area.left
            div
              .title Cool Track
          .area.right
            .menu
              a(href="/new") New Track
              a(href="#settings") Settings
              a(href="/dash") Dashboard
        .control-room
          .editor#html
          .editor#css
          .editor#js
        .live-room
          iframe(src="/preview" width="100%" height="100%")
      script(src="/main.js")
