:root {
  --test-border: solid 1px;
  --bar-height: 25px;
  --editor-border: var(--test-border);
  --control-room-height: 50vh;
  --live-room-height: calc(50vh - var(--bar-height));
}
body * {box-sizing: border-box;}
body, div, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
.studio-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.studio {

}
.bar {
  height: var(--bar-height);
}
.control-room-wrapper {
  height: var(--control-room-height);
  position: relative;
}
.control-room {
  /* position: absolute; */
  height: 100%;
  /* width: 100%; */
}
.CodeMirror {
  height: 100% !important;
}
.live-room-wrapper {
  height: var(--live-room-height);
  border: solid 1px green;
  position: relative;
}
.live-room {

}
#liveRoom {
  height: 100%;
  width: 100%;
  position: absolute;
}
.editor {
  float: left;
  width: 33.33%;
  border: var(--editor-border);
  height: 100%;
}
